header {
    box-shadow: 0px 1px 2px grey;
    background: #fff;
}

.style1 a {
    text-decoration: none;
}

.style1 ul li {
    margin: 0px 6px;
}

.style2 {
    margin-top: 90px;
}

.margin-bot {
    margin-bottom: 200px;
}

.style3 {
    font-size: 10pt;
}

.style4 {
    z-index: -1222;
    position: absolute;
    bottom: -400px;
}

.style5 {
    z-index: -1222;
    position: absolute;
    right: -0px;
    bottom: -500px;
}

.col-5 p {
    text-align: justify;
}

.style6 {
    text-align: justify;
}

.img-kotak img {
    margin-right: 10px;
    margin-bottom: 3.2px;
}

.style7 {
    display: flex;
    flex-direction: row;
    padding-right: 120px;
}
